target/
market-data-service/target_old*/
.local-run/

.idea/
.vscode/
*.iml
.DS_Store
.jqwik-database
rework/
market-data-service/bin/
order-command-service/bin/
order-management-service/bin/
static-data-service/bin/
trading-contracts/bin/
